# Build Artifacts
**/target/
/target/
/build/
!gradle/wrapper/gradle-wrapper.jar
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.flattened-pom.xml

# IDE Files
## IntelliJ
/.idea/
*.iml
*.iws
*.ipr
.idea_modules/
/.idea/encodings.xml
/.idea/workspace.xml

## Eclipse/STS
.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache

## NetBeans
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

# Operating System Files
.DS_Store
*.swp
*.swo

# Logs
*.log
*.log.*
logs/

# Build Tools
.gradle/
.mvn/
!mvnw
!mvnw.cmd
!gradlew
!gradlew.bat

# Other
*.versionsBackup
rebel.xml
.editorconfig

# Exceptions (keep some build generated sources)
!**/src/main/**/target/
!**/src/test/**/target/
!*/build/*.java
!*/build/*.html
!*/build/*.xml